@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Orbitron:wght@500&family=Rowdies:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #282828;
  font-family: fantasy;
  color: white;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1480px;
  padding: 1rem;
  background-color: rgb(42, 41, 41);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, #304ffe, rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%;
}

.navbar-container ul{
  list-style: none;
  
}

.navbar-container li{
  margin-left: 1rem;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-container li:hover{
  color: rgba(255,0,128);
  transition: all 0.8s;

}

.navbar-container h1{
  font-family: Orbitron;
}



.navbar-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-list button{
  background-color: #304ffe;
  cursor: pointer;
  border: none;
  padding: 5px 6px 5px 6px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
}

/*============ SEARCHBAR ========*/

.input-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-bar input{
  background-image: linear-gradient(to right, #304ffe , rgba(255,0,128));
  height: 35px;
  color: white;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
/*=========== Coin-Container =====*/

.coin-container{
  font-size: 15px;
  font-weight: 600;
}

.coin-content{
  display: flex;
  align-items: center;
}

.coin-content img{
  margin-right: 6px;
}

.coin-container img{
  height: 40px;
}

.red{
  color: 	#FF0000;
}

.green{
  color: #00ff00;
}

/*========= Banner ============*/
.banner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 25vh;
  background-color: rgb(0,0,0, 0.40);
  font-family: Orbitron;
}
.banner-content h1{
  font-weight: bolder;
  font-size: 40px;
}

video{
 position: absolute;
 z-index: -1;
 min-height: 100%;
 min-width: 100%;
 object-fit: cover;
}

/*============ LOGIN ==========*/
.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: Orbitron;
  background-color: rgb(0,0,0, 0.50);
}

.login h1{
  font-size: 40px;
}

.login p{
  font-size: 25px;
  
}

.log-btn{
  padding: 10px 20px 10px 20px;
  background-color: rgba(255,0,128);
  color: white;
  font-family: Orbitron;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.login video{
  position: absolute;
  z-index: -1;
  max-height: 100vh;
  max-width: 100vh;
  object-fit: cover;
 }

/*======== CHAT =======*/

.messages-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.messages{
  margin-top: 20px;
  flex-direction: column-reverse;
  overflow-y: auto;
  border-radius: 10px;
  max-width: 800px;
  height: 300px;
  display: flex;
  background-color: #1C1C1C;
}

.messages p{
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.messages img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.sent{
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

.sent p{
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  overflow-wrap: break-word;
  max-width: 50%;
}
.recieved {
  display: flex;
  align-items: center;
}

.recieved p{
  color: white;
  background-color: rgb(168, 167, 167);
  overflow-wrap: break-word;
  max-width: 50%;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


form input{
  font-size: 15px;
  background-color: #3e3e3e;
  color: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
  width: 400px;
  padding-left: 10px;
}

form button{
 cursor: pointer;
 background-image: linear-gradient(to top, #304ffe , rgba(255,0,128));
 border: none;
 padding: 2px 0;
 padding-right: 8px;
 padding-left: 8px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 height: 40px;
}

.emoji-icon{
  height: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.chat-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chat-btn-content{
  display: flex;
  align-items: center;
}

.picker{
  margin-top: 10px;
}
