@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Orbitron:wght@500&family=Rowdies:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #282828;
  font-family: fantasy;
  color: white;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1480px;
  padding: 1rem;
  background-color: rgb(42, 41, 41);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, #304ffe, rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
  width:100%;
}

.navbar-container ul{
  list-style: none;
  
}

.navbar-container li{
  margin-left: 1rem;
  font-size: 12px;
  cursor: pointer;
}

.navbar-container li:hover{
  color: #304ffe;
  transition: all 0.8s;

}

.navbar-container h1{
  font-family: Orbitron;
}



.navbar-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=========== Coin-Container =====*/

.coin-container{
  font-size: 15px;
  font-weight: 600;
}

.coin-content{
  display: flex;
  align-items: center;
}

.coin-content img{
  margin-right: 6px;
}

.coin-container img{
  height: 40px;
}

.red{
  color: 	#FF0000;
}

.green{
  color: #00ff00;
}