*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  font-family: fantasy;
  color: white;
  font-size: 12px;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1480px;
  padding: 1rem;
  background-color: rgb(42, 41, 41);
}

.navbar-container ul{
  list-style: none;
  
}

.navbar-container li{
  margin-left: 1rem;
 
}

.navbar-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=========== Coin-Container =====*/

.coin-container{
  font-size: 15px;
  font-weight: 600;
  
}

.coin-container img{
  height: 40px;
}
